{
  "env": {
    "development": {
      "presets": [
        ["latest", {
          "modules": false
        }],
        "stage-0",
        "react"
      ],
      "plugins": [
        "transform-runtime",
        "add-module-exports",
        "react-hot-loader/babel", ["import", {
          "libraryName": "antd",
          "style": true,
        }]
      ]
    },
    "test": {
      "presets": [
        ["latest", {
          "modules": false
        }],
        "stage-0",
        "react"
      ],
      "plugins": [
        "transform-runtime",
        "add-module-exports",
        "istanbul", ["import", {
          "libraryName": "antd",
          "style": true,
        }]
      ]
    },
    "production": {
      "presets": [
        ["latest", {
          "modules": false
        }],
        "stage-0",
        "react"
      ],
      "plugins": [
        "transform-runtime",
        "add-module-exports", ["import", {
          "libraryName": "antd",
          "style": true,
        }]
      ]
    }
  }
}
