{
  "env": {
    "development": {
      "presets": [
        "env",
        "stage-0",
        "react"
      ],
      "plugins": [
        "transform-runtime",
        "transform-decorators-legacy",
        "add-module-exports", ["import", {
          "libraryName": "antd",
          "style": false
        }]
      ]
    },
    "test": {
      "presets": [
        "env",
        "stage-0",
        "react"
      ],
      "plugins": [
        "transform-runtime",
        "transform-decorators-legacy",
        "add-module-exports",
        "istanbul", ["import", {
          "libraryName": "antd",
          "style": false
        }]
      ]
    },
    "production": {
      "presets": [
        "env",
        "stage-0",
        "react"
      ],
      "plugins": [
        "transform-runtime",
        "transform-decorators-legacy",
        "add-module-exports", ["import", {
          "libraryName": "antd",
          "style": false
        }]
      ]
    }
  }
}
