{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "babel",
    "react",
    "promise",
    "flowtype",
    "flowtype-errors"
  ],
  "env": {
    "browser" : true
  },
  "globals": {
    "__DEV__"      : false,
    "__TEST__"     : false,
    "__PROD__"     : false,
    "__COVERAGE__" : false
  },
  "rules": {
    "key-spacing"               : 0,
    "jsx-quotes"                : [2, "prefer-double"],
    "max-len"                   : [2, 180, 2],
    "object-curly-spacing"      : [2, "always"],
    "camelcase"                 : 0,
    "flowtype-errors/show-errors": 2
  }
}
