.nd-breadcrumb {
  display: flex;
  color: var(--secondaryTextColor);
  align-items: center;
  height: 25px;

  &-item {
    padding: 4px 5px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      color: var(--primaryColor);
    }

    &:last-child {
      color: var(--textColor);
      font-weight: 500;
      cursor: default;
    }
  }
}
