.nd-input {
  display: inline-block;
  width: 100%;
  height: var(--baseHeight);
  box-sizing: border-box;
  outline: none;
  border-radius: var(--radiusBase);
  outline-offset: 0;
  padding: 4px 7px;
  border: 1px solid var(--borderColor);
  transition: all 0.3s ease;

  &-wrapper {
    display: flex;
    align-items: center;

    & .nd-input {
      border-radius: 0;
    }

    & :first-child {
      border-top-left-radius: var(--radiusBase);
      border-bottom-left-radius: var(--radiusBase);
    }

    & :last-child {
      border-top-right-radius: var(--radiusBase);
      border-bottom-right-radius: var(--radiusBase);
    }
  }

  &-before,
  &-after {
    height: var(--baseHeight);
    padding: 4px 7px;
    background-color: var(--borderColor);
    border: 1px solid var(--borderColor);
  }

  &:focus,
  &:hover {
    border-color: var(--primaryColor);
  }

  &:focus {
    box-shadow: 0 0 0 2px color(var(--primaryColor) a(20%));
  }

  &-large {
    height: calc(var(--baseHeight) * 1.2);
  }

  &-small {
    height: calc(var(--baseHeight) * 0.8);
    font-size: calc(var(--fontSize) - 2);
    padding: 2px 7px;
  }

  &-error {
    border-color: var(--errorColor);

    &:focus,
    &:hover {
      border-color: var(--errorColor);
    }

    &:focus {
      box-shadow: 0 0 0 2px color(var(--errorColor) a(20%));
    }
  }

  &[disabled] {
    border-color: var(--borderColor);
    color: var(--disabledColor);
    background-color: var(--disabledBgColor);
  }
}
