.nd-select {
  position: relative;
  min-width: 120px;
  background-color: var(--bgColor);
  height: var(--baseHeight);
  outline: none;
  border: 1px solid var(--borderColor);
  border-radius: var(--radiusBase);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  &-multi {
    height: auto;
    min-height: var(--baseHeight);
  }

  &-icon {
    font-size: calc(var(--fontSize) - 2);
    transition: all 0.3s ease;
    padding: 4px;
  }

  &&-visible,
  &:focus,
  &:hover {
    border-color: var(--primaryColor);
  }

  &:focus {
    box-shadow: 0 0 0 2px color(var(--primaryColor) a(20%));
  }

  &&-visible {
    box-shadow: 0 0 0 2px color(var(--primaryColor) a(20%));

    & .nd-select-icon {
      transform: rotate3d(0, 0, 1, -180deg);
    }
  }

  &-content {
    padding: 4px 7px;
    user-select: none;
  }

  &-multi &-content {
    padding: 0;
  }

  &-value {
    &-multi {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      & li {
        padding: 2px 4px;
        border: 1px solid var(--borderColor);
        border-radius: 4px;
        background-color: color(var(--borderColor) a(20%));
        margin: 2px 5px;
        cursor: default;
      }
    }

    &-remove {
      font-size: calc(var(--fontSize) - 4);
      color: var(--placeholderColor);
      cursor: pointer;
    }
  }

  &-placeholder {
    font-size: calc(var(--fontSize) - 2);
    color: var(--placeholderColor);
  }

  &-container {
    position: absolute;
    min-width: 120px;
    z-index: 2;
    transition: all 0.3s ease;
    padding: 4px 0;
    border: 1px solid var(--borderColor);
    border-radius: 4px;
    background-color: var(--bgColor);
    max-height: 250px;
    overflow-x: visible;
    overflow-y: auto;
    box-shadow: 0 0 0 2px color(var(--borderColor) a(50%));

    &-hidden {
      display: none;
    }
  }

  &-options {
    width: 100%;
  }

  &-option {
    height: var(--baseHeight);
    padding: 2px 4px;
    transition: all 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-selected {
      background-color: color(var(--primaryColor) whiteness(+60%));

      &-icon {
        color: var(--successColor);
      }
    }

    &:hover {
      cursor: pointer;
      background-color: color(var(--primaryColor) whiteness(+60%));
    }
  }
}
